body{
    background: rgb(249, 225, 238);
    background: linear-gradient(90deg, rgb(236, 0, 126) 10%, rgb(0, 171, 245));
}
h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}